/download
/eclipseBin

## gradle
/.gradle
/build

## ForgeGradle
/run

## eclipse
/eclipse
/.settings
/.metadata
/.classpath
/.project
/bin

## intellij
/out
/.idea
/*.iml
/*.ipr
/*.iws
/atlassian-ide-plugin.xml

## gedit
*~

## minecraft files
/asm
/config
/saves
/logs
/crash-reports

## translation reports
resources/assets/enderio/lang/*.lang.txt
*.bat
libs/
