/download
/eclipseBin

## gradle
/.gradle
/build

## ForgeGradle
/run
*.launch

## eclipse
/eclipse
/.settings
/.metadata
/.classpath
/.project
/bin

## intellij
/out
/.idea
/*.iml
/*.ipr
/*.iws
/atlassian-ide-plugin.xml
/classes

## gedit
*~
## most Windows editors
*.bak
## OSX
.DS_Store

## translation reports
resources/assets/enderio/lang/*.lang.txt
/ebin/

resources/assets/enderio/textures/gui/Corel Auto-Preserve/

resources/assets/enderio/textures/items/Corel Auto-Preserve/

resources/assets/enderio/textures/blocks/Corel Auto-Preserve/
