/download
/eclipseBin

## gradle
**/.gradle
**/build

## ForgeGradle
/run
/*/run
/*.launch
/*/*.launch

## eclipse
/eclipse
**/.settings
**/.metadata
**/.classpath
**/.project
**/bin

## intellij
/out
/.idea
/*.iml
/*.ipr
/*.iws
/atlassian-ide-plugin.xml
/classes

## gedit
*~
## most Windows editors
*.bak
## OSX
.DS_Store

## translation reports
resources/assets/enderio/lang/*.lang.txt
/ebin/

## local user properties
user.properties

## temporary build files
eiostore.jks

build\.sh

enderio-machines/logs/

enderio-zoo/src/main/resources/assets/enderio/entity/Corel Auto-Preserve/

enderio-machines/src/main/resources/assets/enderio/textures/gui/40/Corel Auto-Preserve/

enderio-base/\.checkstyle
