language: java
jdk:
  - oraclejdk8
sudo: false
cache:
  directories:
    - '$HOME/.m2'
    - '$HOME/.gradle'
before_cache:
    - rm -f $HOME/.gradle/caches/*/*.lock
install:
    - ./gradlew assemble
script:
    - ./gradlew check